<div class="header">
    <div class='footage'>
        <video src="/images/dam_collapse_edit2.mp4" poster="" muted="" autoplay="" loop="" playsinline=""></video>
    </div>
    <div class='headlines'>
        <h1>Dangerous Dams</h1>
        <h2>At least 1,680 dams across the U.S. are in poor condition and could risk the lives of people living nearby</h2>
        <div class='arrow'>
            &nbsp;
            <div class="scroll-down"></div>
        </div>
    </div>  
</div>
